
<div>
	<label><h3>发送接口:</h3><i>$!aliyu_url</i></label>
</div>
<div>
	<label><h3>Appkey:</h3><input type='text' name='aliyu_appkey' value='$!aliyu_appkey' /><g>请从阿里大鱼获取</g></label>
</div>
<div>
	<label><h3>Secret:</h3><input type='text' name='aliyu_secret' value='$!aliyu_secret' /><g>请从阿里大鱼获取</g></label>
</div>
<div>
	<label><h3>Default Sign:</h3><input type='text' name='aliyu_sign' value='$!aliyu_sign' /><g>请从阿里大鱼获取</g></label>
</div>
<div>
	<label><h3>templatecode:</h3><textarea name='aliyu_templatecode'>$!aliyu_templatecode</textarea><g>模版code转换,每个对应以“;”分隔,内部code＝外部code， etc：user.forget.password=800000;</g></label>
</div>

